; Thingsboard Project Configuration File
;

[ThingsBoard]
TB_URL = http://192.168.0.51:8080
TENANT_EMAIL = mquattrone@fi.uba.ar
TENANT_PASSWORD = Defensa523
DASHBOARD_ID = cf2dead0-1b07-11f1-9648-e3b6e6767ce1